<div class="wrapper">
    <div class="container">

      <h2 class="title">Login</h2>
      <form class="login-form">
        <div class="login">
          <label for="email-login">Email</label>
          <input type="text" id="email-login" />
        </div>
        <div class="login">
          <label for="password-login">Password</label>
          <input type="password" id="password-login" />
        </div>
        <div class="button-container">
          <button class="button" type="submit">Login</button>
        </div>
      </form>

      <div class="switch-form">
        <a  href="/signup">Create An Account</a>
      </div>
    </div>
</div>
<script src="/javascript/login.js"></script>