<div class="wrapper">
    <div class="container">
        <h2 class="title">Sign Up</h2>
        <form class="signup-form">
        <div class="login">
            <label for="username-signup">Username</label>
            <input type="text" id="username-signup" />
        </div>
        <div class="login">
            <label for="email-signup">Email</label>
            <input type="text" id="email-signup" />
        </div>
        <div class="login">
            <label for="password-signup">Password</label>
            <input type="password" id="password-signup" />
        </div>
        <div class="button-container">
            <button class="button" type="submit">Sign Up</button>
        </div>
        </form>
        <div class="switch-form">
            <a href="/login">Already Have An Account</a>
        </div>
    </div>
</div>
<script src="/javascript/signup.js"></script>

